  <div id="info">
    <% cnt = 0 -%>
<%- for announcement in @announcements -%>
  <%- cnt = cnt + 1 -%>
<script type="text/javascript">
<% if announcement.body_show_flg == 1
     body_show_flg = 1
   else
     body_show_flg = 0
   end %>
announcement_body_flg_<%= cnt %> = <%= body_show_flg %>;

function display_<%= cnt %> () {
  if (announcement_body_flg_<%= cnt %> == 0) {
    announcement_body_flg_<%= cnt %> = 1;
    $("#announcement_body_<%= cnt %>").css("display","block");
  } else {
    announcement_body_flg_<%= cnt %> = 0;
    $("#announcement_body_<%= cnt %>").css("display","none");
  }
}
</script>
      <div id="announcement_title" onclick="display_<%= cnt %>()"><%= announcement.updated_at.strftime('%Y/%m/%d %H:%M') %>　<%= announcement.title %></div><br>
<div id='announcement_body_<%= cnt %>' style="display:<% if body_show_flg == 1 %>block<% else %>none<% end %>;">
  <%#= simple_format(announcement.body, {}, wrapper_tag: "div") %>
  <% count = 0 %>
  <% for key_word in announcement.body.split(/\r\n|\r|\n/) %>
    <% unless count == 0 %>
    <% end %>
    <div><%= key_word -%></div>
    <% count += 1 %>
  <% end %>
  <br><br>
</div>
<%- end -%>
<%- if cnt == 0 -%>
  現在、お知らせはありません。<br>
<%- end -%>
  </div>

  <div id="menu">
    <h1>システムメニュー</h1>
    <dl>
      <dt><%= link_to("ファイルを送る", {:controller => "file_send", :action => "index"}, {:id => 'm1'}) %></dt>
      <dd><%= image_tag("common/menu01_cm.gif", :alt => "ファイルを送るときに使用します") %></dd>
      <dt><%= link_to("ファイルを依頼する", {:controller => "file_request", :action => "index"}, {:id => 'm2'}) %></dt>
      <dd><%= image_tag("common/menu02_cm.gif", :alt => "ファイル送付を依頼するときに使用します") %></dd>
    </dl>
  </div>

<% @expression_flag = 0 %>
<% @content_frames.each.with_index do |content_frame, count| -%>
  <% if content_frame.expression_flag == 1 %>
    <% @expression_flag = 1 %>
  <% end -%>
<% end -%>
<% if @expression_flag == 1 %>
  <div id="service">
    <h1>サービスについて</h1>
    <dl>
<% @content_frames.each.with_index do |content_frame, count| -%>
  <% if content_frame.expression_flag == 1 %>
      <dt>
        <%= link_to(content_frame.title, :controller => "content", :action => "load", :id => content_frame.id) %>
      </dt>
      <dd>
        <%= content_frame.description %>
      </dd>
  <% end -%>
<% end -%>
    </dl>
  </div>
<% else -%>
<br><br><br>
<% end -%>
