  <div id="info">
    <% cnt = 0 -%>
<%- for announcement in @announcements -%>
  <%- cnt = cnt + 1 -%>
<script type="text/javascript">
announcement_body_flg_<%= cnt %> = 0;

function display_<%= cnt %> () {
  if (announcement_body_flg_<%= cnt %> == 0) {
    $("#announcement_body_<%= cnt %>").css("display","block");
    

    announcement_body_flg_<%= cnt %> = 1;
  } else {
    announcement_body_flg_<%= cnt %> = 0;
    $("#announcement_body_<%= cnt %>").css("display","none");
  }
}
</script>
      <div id="announcement_title" onclick="display_<%= cnt %>()"><%= announcement.updated_at.strftime('%Y/%m/%d %H:%M') %>　<%= announcement.title %></div><br>
<div id='announcement_body_<%= cnt %>' style="display:none;"><%= announcement.body %><br><br></div>
<%- end -%>
<%- if cnt == 0 -%>
  現在、お知らせはありません。<br>
<%- end -%>
  </div>

  <div id="menu">
    <h1>システムメニュー</h1>
    <dl>
      <dt><%= link_to("ファイルを送る", {:controller => "file_send", :action => "index"}, {:id => 'm1'}) %></dt>
      <dd><%= image_tag("common/menu01_cm.gif", :alt => "ファイルを送るときに使用します") %></dd>
      <dt><%= link_to("ファイルを依頼する", {:controller => "file_request", :action => "index"}, {:id => 'm2'}) %></dt>
      <dd><%= image_tag("common/menu02_cm.gif", :alt => "ファイル送付を依頼するときに使用します") %></dd>
    </dl>
  </div>

  <div id="service">
    <h1>サービスについて</h1>
    <dl>
<% @content_frames.each.with_index do |content_frame, count| -%>
      <dt><%= link_to(content_frame.title, :controller => "content", :action => "load", :id => content_frame.id) %></dt>
      <dd><%= content_frame.description %></dd>
<% end -%>
    </dl>
  </div>

