<script type="text/javascript">

localDomains = ""

$(document).ready(function() {
  $.validationEngineLanguage.newLang(localDomains);
  $("#user").validationEngine({
    success : function() { document.user.submit(); },
    failure : function() {}
  })
});
</script>

  <fieldset>
  <%- form_for(:user, :url => { :action => "create"}, 
              :html => {:id => 'user', :name=> "user" }) do |f| -%>
    <%= f.hidden_field :category, {:value => 2} -%>
    <div class="table-sys-a">
      <div class="item-mid2">ユーザＩＤ</div>
      <div class="input-mid2"><%= f.text_field :login, :size => '20',
 :class => 'validate[required]' %></div>
      <div class="item-mid2">パスワード</div>
      <div class="input-mid2"><%= f.text_field :password, :size => '20' -%>
</div>
      <div class="item-mid2">パスワード（確認）</div>
      <div class="input-mid2"><%= f.text_field :password_confirmation,
 :size => '20' %></div>
      <div class="item-mid2">メールアドレス</div>
      <div class="input-mid2"><%= f.text_field :email, :size => '50',
 :class => 'validate[required, custom[email]]' %></div>
      <div class="item-mid2">備考</div>
      <div class="input-mid2"><%= f.text_area :note, :cols => '40',
 :rows => '10' %></div>
      <div class="item-mid2"></div>
      <div class="input-mid2" align="center"><%= f.submit "　登録　" %></div>
    </div>
  <%- end -%>
  </fieldset>

<br>
<div align=center><%= link_to "戻る", {:action => session[:target_for_back]} %><br /></div>
<br><br>
