<script type="text/javascript">

localDomains = ""

$(document).ready(function() {
  $.validationEngineLanguage.newLang(localDomains);
  $("#app_env").validationEngine({
    success : function() { document.app_env.submit(); },
    failure : function() {}
  })
});
</script>

<%= $param_label[@app_env.key] %><% if $param_unit[@app_env.key].present? %>(単位：<%= $param_unit[@app_env.key] %>)<% end %>の設定変更
<fieldset>
<div class="table-sys-a">

<%= form_for(@app_env, :url => { :action => 'update', :id => @app_env.id},
                      :html => {:id => 'app_env', :name=> "app_env" }) do |f| %>
  <%#= f.error_messages %>
  <div class="item-mid"></div>
  <div class="input-mid"><%= f.text_field :value, :class => 'validate[required]', :size => '', :style => "width:150px;" %><% if $param_unit[@app_env.key].present? %><%= $param_unit[@app_env.key] %><% end %></div>
  <div class="item-mid"></div>
  <div class="input-mid"><%= f.submit "更　新" %></div>
<% end %>

</div>
</fieldset>

<br>

<% if session[:target_for_back_id] -%>
<%= link_to "戻る", {:action => session[:target_for_back], :id => session[:target_for_back_id]} %><br />
<% else -%>
<%= link_to "戻る", {:action => session[:target_for_back]} %><br />
<% end -%>

