<script type="text/javascript">

localDomains = ""
function disp(message, link){

	// 「OK」時の処理開始 ＋ 確認ダイアログの表示
	if(window.confirm(message)){
		location.href = link;
	}else{
	}
}


$(document).ready(function() {
  $.validationEngineLanguage.newLang(localDomains);
  $("#app_env1").validationEngine({
    success : function() { document.app_env1.submit(); },
    failure : function() {}
  })
  $("#app_env2").validationEngine({
    success : function() { document.app_env2.submit(); },
    failure : function() {}
  })
  $("#app_env3").validationEngine({
    success : function() { document.app_env3.submit(); },
    failure : function() {}
  })
  $("#app_env4").validationEngine({
    success : function() { document.app_env4.submit(); },
    failure : function() {}
  })
  $("#app_env5").validationEngine({
    success : function() { document.app_env5.submit(); },
    failure : function() {}
  })
  $("#app_env6").validationEngine({
    success : function() { document.app_env6.submit(); },
    failure : function() {}
  })
  $("#app_env7").validationEngine({
    success : function() { document.app_env7.submit(); },
    failure : function() {}
  })
  $("#app_env8").validationEngine({
    success : function() { document.app_env8.submit(); },
    failure : function() {}
  })
  $("#app_env9").validationEngine({
    success : function() { document.app_env9.submit(); },
    failure : function() {}
  })
});

</script>

  <fieldset>
  <h2><%= $param_label['FILE_LIFE_PERIOD'] %></h2>
  <div class="table-sys-a">
  <% @app_envs.each do | app_env | -%>
    <% if app_env.key == 'FILE_LIFE_PERIOD' -%>
      <div class="input-mid-2-l"><%= app_env.value %>（<%= app_env.note %>）</div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit2', :id => app_env.id } %>
      <%= link_to '[削除]', {:action => 'destroy', :id => app_env.id}, :method => :delete, :class => 'delete',
                             :data => {:confirm => '削除します。よろしいですか?'} %>
      </div>
    <% end -%>
  <% end -%>
  <br>
  <%= form_tag({:action => :create_term}, {:id => 'app_env1', :name=> "app_env1" }) do -%>
    <div class="item-mid"><%= $param_label['FILE_LIFE_PERIOD'] %>の登録</div>
    <div class="input-mid">
      <%= hidden_field_tag 'key',             'FILE_LIFE_PERIOD' %>
      <%= hidden_field_tag 'category',        @category          %>
      <%= hidden_field_tag 'organization_id', @organization_id   %>
      <%= text_field_tag 'term', @term, :size => 5,
                               :class => 'validate[required, custom[onlyNumber]]' %>
      <%= select_tag 'unit', options_for_select([["日", 1], ["時間", 0]], @unit) %>
      <%= submit_tag " 登録 " -%>
    </div>
  <% end %>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['FILE_LIFE_PERIOD_DEF'] %></h2>
  <div class="table-sys-a">
  <% app_env_id = '' -%>
  <% file_life_period_def = '' -%>
  <% file_life_period_def_value = "" %>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'FILE_LIFE_PERIOD_DEF' -%>
      <% app_env_id = app_env.id -%>
      <% file_life_period_def = app_env.value.to_i -%>
      <% period = AppEnv.where("id = ?", file_life_period_def.to_i).first -%>
      <% file_life_period_def_value = period.note if period.present? %>
    <% end -%>
  <% end -%>
  <% if app_env_id == '' -%>
    <%= form_for(:app_env, :url => { :action => 'create'},
                :html => {:id => 'app_env2', :name=> "app_env2" }) do |f| %>
      <div class="item-mid"><%= $param_label['FILE_LIFE_PERIOD_DEF'] %></div>
      <%#= f.error_messages %>
      <div class="input-mid">
      設定値：<%= file_life_period_def_value %><br>
      <%= f.hidden_field :key, {:value => "FILE_LIFE_PERIOD_DEF"} %>
      <%= f.hidden_field :category, {:value => @category} %>
      <%= f.select :value,
                 @file_life_periods,
                 {:selected => file_life_period_def} %>
      <%= f.submit "登　録" %>
      </div>
    <% end %>
  <% else -%>
    <%= form_for(:app_env, :url => { :action => 'update', :id => app_env_id},
                :html => {:id => 'app_env2', :name=> "app_env2" }) do |f| %>
      <div class="item-mid"><%= $param_label['FILE_LIFE_PERIOD_DEF'] %></div>
      <%#= f.error_messages %>
      <div class="input-mid">
      設定値：<%= file_life_period_def_value %><br>
      <%= f.hidden_field :key, {:value => "FILE_LIFE_PERIOD_DEF"} %>
      <%= f.hidden_field :category, {:value => @category} %>
      <%= f.select :value,
                 @file_life_periods,
                 {:selected => file_life_period_def} %>
      <%= f.submit "更　新" %>
      </div>
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['RECEIVERS_LIMIT'] %>(単位：<%= $param_unit['RECEIVERS_LIMIT'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'RECEIVERS_LIMIT' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['RECEIVERS_LIMIT'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env3', :name=> "app_env3" }) do |f| %>
      <div class="item-mid"><%= $param_label['RECEIVERS_LIMIT'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => "RECEIVERS_LIMIT"} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, {:class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;"} %>
        <%= f.submit "登　録" %>
      </div>
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['FILE_SEND_LIMIT'] %>(単位：<%= $param_unit['FILE_SEND_LIMIT'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'FILE_SEND_LIMIT' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['FILE_SEND_LIMIT'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env4', :name=> "app_env4" }) do |f| %>
      <div class="item-mid"><%= $param_label['FILE_SEND_LIMIT'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'FILE_SEND_LIMIT'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;" %>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['FILE_SIZE_LIMIT'] %>(単位：<%= $param_unit['FILE_SIZE_LIMIT'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'FILE_SIZE_LIMIT' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['FILE_SIZE_LIMIT'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env5', :name=> "app_env5" }) do |f| %>
      <div class="item-mid"><%= $param_label['FILE_SIZE_LIMIT'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'FILE_SIZE_LIMIT'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;" %>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['FILE_TOTAL_SIZE_LIMIT'] %>(単位：<%= $param_unit['FILE_TOTAL_SIZE_LIMIT'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'FILE_TOTAL_SIZE_LIMIT' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['FILE_TOTAL_SIZE_LIMIT'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env6', :name=> "app_env6" }) do |f| %>
      <div class="item-mid"><%= $param_label['FILE_TOTAL_SIZE_LIMIT'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'FILE_TOTAL_SIZE_LIMIT'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;" %>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['MESSAGE_LIMIT'] %>(単位：<%= $param_unit['MESSAGE_LIMIT'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'MESSAGE_LIMIT' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['MESSAGE_LIMIT'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env7', :name=> "app_env7" }) do |f| %>
      <div class="item-mid"><%= $param_label['MESSAGE_LIMIT'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'MESSAGE_LIMIT'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;"%>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['PW_LENGTH_MIN'] %>(単位：<%= $param_unit['PW_LENGTH_MIN'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'PW_LENGTH_MIN' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['PW_LENGTH_MIN'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env8', :name=> "app_env8" }) do |f| %>
      <div class="item-mid"><%= $param_label['PW_LENGTH_MIN'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'PW_LENGTH_MIN'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;" %>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br>

  <fieldset>
  <h2><%= $param_label['PW_LENGTH_MAX'] %>(単位：<%= $param_unit['PW_LENGTH_MAX'] %>)</h2>
  <div class="table-sys-a">
  <% c=0 -%>
  <% @app_envs.each do | app_env | %>
    <% if app_env.key == 'PW_LENGTH_MAX' -%>
      <div class="input-mid-2-l"><%= app_env.value %><%= $param_unit['PW_LENGTH_MAX'] %></div>
      <div class="input-mid-2-r">
      <%= link_to '[編集]', {:action => 'edit1_only_num', :id => app_env.id } %>
      </div>
      <% c += 1 -%>
    <% end -%>
  <% end -%>
  <% if c == 0 -%>
    <%= form_for(:app_env, :url => { :action => "create"}, 
                :html => {:id => 'app_env9', :name=> "app_env9" }) do |f| %>
      <div class="item-mid"><%= $param_label['PW_LENGTH_MAX'] %>の登録</div>
      <%#= f.error_messages %>
      <div class="input-mid">
        <%= f.hidden_field :key, {:value => 'PW_LENGTH_MAX'} %>
        <%= f.hidden_field :category, {:value => @category} %>
        <%= f.text_field :value, :class => 'validate[required, onlyNumber]', :size => '', :style => "width:150px;" %>
        <%= f.submit "登　録" %>
      </div> 
    <% end %>
  <% end -%>
  </div>
  </fieldset>

<br><br>

