<div id="center30">
  <h1><%= image_tag("common/deco_logo01.jpg", :alt => "DECO Drive") %></h1>
  <% if flash[:notice] -%>
    <div>
  <%= flash[:notice] %>
    </div>
  <% end -%>

  <%= form_tag :action => :login_for_administrator do -%>
  <div id="login_d">
      <%= image_tag("common/userid.gif", :alt => "ユーザID") %>
      <%= text_field_tag 'login' %><br />
      <%= image_tag("common/pass.gif", :alt => "パスワード") %>
      <%= password_field_tag 'password' %><br /><br /><br />
      <%= image_submit_tag("common/login.gif")%>
    </div>
    <br /><br />
    <font color="#778899">Powered by</font> <a href="http://deco-project.org"><%= image_tag('common/deco_s2.jpg', :alt => "powerd by DECO", :style => "vertical-align: middle;", :border => 0) %></a>
  <% end -%>
</div>
