  <p>ダウンロードボタンをクリックして、ファイルをダウンロードしてください。</p>

    <div class="table-a">

      <div class="item-top">ファイル送信者名</div>

      <div class="input-top"><%= h @requested_matter.name %>
        &nbsp;&nbsp;（<%= h @requested_matter.mail_address %>）</div>

      <div class="item-mid">ファイル依頼者名</div>
      <div class="input-mid"><%= h @requested_matter.request_matter.name %>
        &nbsp;様&nbsp;（<%= h @requested_matter.request_matter.mail_address %>）</div>

      <div class="item-mid">ファイルお預かり日時</div>
      <div class="input-mid">
        <%= Time.parse(@requested_matter.file_up_date.to_s).strftime("%Y年%m月%d日%H時%M分%S秒") %></div>

      <div class="item-mid">お預かりしているファイル</div>
      <div class="input-mid">

         <div class="table-d">
            <div class="item-l">ファイル名</div>
            <div class="item-r"></div>

<% if @requested_attachments.size > 0 -%>
  <%  @requested_attachments.each_with_index do | attachment, index | -%>
    <% if attachment.virus_check == '0' -%>
      <div class="input-l"><%= index + 1 %>. <%= h truncate(attachment.name, {:length => 28}) %>（<%= show_file_size(attachment) %>）</div>
      <div class="input-r"><%= link_to image_tag('/assets/common/download.gif', {:border => '0', :alt => 'ダウンロード'}),
                                 {:action => 'get', :id => attachment.id} %></div>
    <% end -%>
  <% end -%>
<% else -%>
  <div class="input-l">
  <%= h @requested_matter.name %> 様がファイルを削除しました。
  </div>
  <div class="input-r"></div>
<% end -%>
         </div>
      </div>

      <div class="item-mid">送信者からのメッセージ</div>
      <% if @requested_matter.message == '' -%>
      <div class="input-mid">　</div>
      <% else -%>
      <div class="input-mid"><%= h @requested_matter.message %></div>
      <% end -%>

      <div class="item-bot">ファイル保管期限</div>
      <div class="input-bot"><%= (Time.parse(@requested_matter.file_up_date.to_s) +
                      @requested_matter.file_life_period).strftime("%Y年%m月%d日%H時%M分%S秒") %></div>

    </div>
<div style="height:150px; clear:both;"></div>
