<script type="text/javascript">
$(function() {
  $("#result").ajaxStart (function() {
    $("#search_progress").html('<%= image_tag('common/scan_progress.gif', :alt => "progress", :border => 0) %>');
    }).ajaxComplete (function() { $("#search_progress").html('');});

  $( ".datepicker" ).datepicker();
  // ソート
  $("#conditions_sort_select_1, #conditions_sort_select_2").change(function() {
    $("#search_form_submit").click();
  });
})

</script>

<h1><%= t('views.user_menu.user_log_request') %></h1>
<div class="comment">
  <%= form_tag({ :action => 'index_request' }, { :id => :search_form, :remote => true, :method => 'GET' } ) do %>
    <div class="table-address-search-u">
      期間：<%= text_field_tag('conditions[begin_date]', '', {:class => "datepicker"}) %>
      &nbsp;&nbsp;～&nbsp;&nbsp;<%= text_field_tag('conditions[end_date]', '', {:class => "datepicker"}) %>
    </div>
    <div class="table-address-search-u">
      <%= select_tag('conditions[search_select]', options_for_select(
                     { t('activerecord.attributes.requested_matters.name') => 'name',
                       t('activerecord.attributes.requested_matters.mail_address') => 'mail_address'},
                     @hyoji_select_1),:include_blank => true) %>
            &nbsp;
      <%= text_field_tag 'conditions[search_text]', '', { :size => 30 } %>
      <%= submit_tag(t('address_books.search_button'), :id => 'search_form_submit') %>
      <span id="search_progress"></span>
    </div>

    <div class="table-address-search-d">
      表示順序：
      <%= select_tag('conditions[sort_select_1]', 
                     options_for_select(
                     { t('activerecord.attributes.request_matters.created_at') => 'created_at'},
                     'created_at')) %>

      <%= select_tag('conditions[sort_select_2]', 
                      options_for_select(
                      { t('views.sort.asc') => 'asc', 
                        t('views.sort.desc') => 'desc'},
                      'desc')) %>
    </div>
  <% end %>

  <div id="result">
    <%= render 'index_request_result' %>
  </div>
</div>
