<fieldset>
<h2>ユーザ登録</h2>

<%= error_messages_for :user %>
<% form_for(:user, :url => { :controller => 'users', :action => 'create'}) do |f| -%>

<%= f.hidden_field :category, {:value => @category} %>
<div class="table-sys-a">
      <div class="item-mid2">ユーザＩＤ</div>
      <div class="input-mid2"><%= f.text_field :login %></div>
      <div class="item-mid2">パスワード</div>
      <div class="input-mid2"><%= f.password_field :password %></div>
      <div class="item-mid2">パスワード（確認）</div>
      <div class="input-mid2"><%= f.password_field :password_confirmation %></div>
      <div class="item-mid2">メールアドレス</div>
      <div class="input-mid2"><%= f.text_field :email %></div>
      <div class="item-mid2">備考</div>
      <div class="input-mid2"><%= f.text_area :note, :cols => '40', :rows => '10' %></div>
      <div class="item-mid2"></div>
      <div class="input-mid2" align="center"><%= submit_tag ' 登録 ' %></div>
</div>
<% end -%>

</fieldset>

<br>
<% if session[:target_for_back_id] -%>
<%= link_to "戻る", {:controller => 'sys_user',
                     :action => session[:target_for_back],
                     :id => session[:target_for_back_id]} %><br />
<% else -%>
<%= link_to "戻る", {:controller => 'sys_user',
                     :action => session[:target_for_back]} %><br />
<% end -%>
<br><br>
