    <span class="left">宛先は最大 <%= h $app_env['RECEIVERS_LIMIT'] %> 名まで追加できます。<br /><br />
    <%= image_tag('common/name_s.jpg') %>&nbsp;相手のお名前<span class="required">※</span><br />
    <%= image_tag('common/mail_s.jpg') %>&nbsp;相手のメールアドレス<span class="required">※</span>&nbsp;&nbsp;<span class="note">例）name1@example.com</span>
    </span>

    <fieldset>
    <legend>送信者情報入力</legend>

<%- i=1 -%>
<%- while i<2 -%>
  <%= fields_for @requested_matter, :index => i do |f2| -%>

    <div class="table-e">
      <div class="item">ファイル送信者 1人目
        <% if session[:user_id] -%>
          <div class="re_address_p"><div class="re_address" onclick="open_modal_window('/address_books/index_sub?recipient_number=<%= i %>', 'modal');" title="アドレス帳"></div></div>
        <% end %>
      </div>
      <div class="input-l">
        <%= image_tag('common/name.jpg', :align => "left") %><%= f2.text_field :name, :class => 'validate[required]', :size => 30, :index => i %> 様<br />
        <%= image_tag('common/mail.jpg', :align => "left") %><%= f2.text_field :mail_address, :class => 'validate[required, custom[email]]', :size => 40, :index => i %>
      </div>
      <div class="input-r"></div>
      <div id="receiver_form"></div>
    </div>

  <%- end -%>
<%- i += i -%>
<%- end -%>
</fieldset>
<% if session[:user_id] -%>
    <span class="right"><input type="button" onclick="add_receiver_address_book('requested_matter', 'receiver_form', 'ファイル送信者')" value="+ 宛先欄を追加" /></span>
<% else %>
    <span class="right"><input type="button" onclick="add_receiver('requested_matter', 'receiver_form', 'ファイル送信者')" value="+ 宛先欄を追加" /></span>
<% end %>
