<h2>決裁申請</h2>
<div class="table-a">

  <div class="item-top">あなたのお名前</div>
  <div class="input-top"><%= h @request_matter.name %>&nbsp;&nbsp;（<%= h @request_matter.mail_address %>）</div>

  <div class="item-mid">相手のお名前</div>
  <div class="input-mid">
<% @requested_matters.each.with_index do | requested_matter, count | %>
  お名前<%= h count + 1 %>人目：<%= h requested_matter.name %>（<%= h requested_matter.mail_address %>）<br>
<% end %>
  </div>

  <div class="item-mid">相手へのメッセージ</div>
<% if @request_matter.message == '' %>
<div class="input-mid">　</div>
<% else %>
<div class="input-mid"><%= h @request_matter.message %></div>
<% end %>
  <div class="item-mid">決裁種別</div>
  <div class="input-mid">
<% if @request_moderate == nil %>
決裁無し
<% else %>
<% if @request_moderate.type_flag == 0 %>
通常決裁
<% else %>
簡易決裁
<% end %>
<% end %>
  </div>
  <div class="item-mid">決裁ルート</div>
  <div class="input-mid">
<% number = 0 %>
    <div class="table-d" style="border:0px;">
<% for moderater in @request_moderaters %>
      <div class="input-l" style="border:0px; padding:5px 8px; height:20px;">
<% number += 1 %>
<%= number %>.
<%= moderater.moderater.user.name %>
      </div>
<div class="input-r" style="border:0px; padding:5px 8px; height:20px; text-align:center;">
<% if moderater.result == 1 %>
<font color="blue"><b>承認</b></font>
<% elsif moderater.result == 2 %>
<font color="red">却下</font>
<% else %>
<% if moderater.send_flag == 1 %>
処理中
<% end %>
&nbsp;
<% end %>
      </div>
<% end %>
    </div>
  </div>
  <div class="item-mid">決裁結果</div>
  <div class="input-mid">
<% if @request_moderate.result == 1 %>
<font color="blue"><b>承認</b></font>
<% elsif @request_moderate.result == 2 %>
<font color="red">却下</font>
<% else %>
&nbsp;
<% end %>
  </div>
<% unless @request_moderate.result > 0 %>
  <div class="item-mid"></div>
  <div class="input-mid">
    <div class="table-d" style="border:0px;">
      <div class="input-l" style="border:0px;">
<%= button_to "承　認", {:action => :approval, :id => params[:id]},
 :data => {:confirm => 'この送信内容を承認します。よろしいですか？'}, :method => :get %>
      </div>
<div class="input-r" style="border:0px;">
<%= button_to "却　下", {:action => :new, :id => params[:id]}, :method => :get %>
      </div>
    </div>
  </div>
<% end %>
  </div>
</div>
