<script type="text/javascript">
$(function() {
  $("#result").ajaxStart (function() {
    $("#search_progress").html('<%= image_tag('common/scan_progress.gif', :alt => "progress", :border => 0) %>');
  }).ajaxComplete (function() { $("#search_progress").html('');});

  // ソート
  $("#conditions_sort_select_1, #conditions_sort_select_2").change(function() {
    $("#search_form_submit").click();
  });
  $("#button_address_book_modal_close").click(function(){
    $.modal.close();
  });
    $("#search_form_submit").click();
})

function close_address_modal() {
  $.modal.close();
}

</script>

<h1><%= t('views.user_menu.address_books') %></h1>

<div class="table-address-search-u">
  <%= form_tag({ :action => 'index_sub' }, { :id => :search_form, :remote => true, :method => 'GET' } ) do %>
    <%= select_tag('conditions[search_select]', options_for_select(
                   { t('activerecord.attributes.address_book.organization') => 'organization',
                     t('activerecord.attributes.address_book.name') => 'name',
                     t('activerecord.attributes.address_book.email') => 'email' },
                   @hyoji_select_1),
                   :include_blank => true) %>
              &nbsp;
    <%= text_field_tag 'conditions[search_text]', '', { :size => 30 } %>
    <%= submit_tag(t('address_books.search_button'), :id => 'search_form_submit') %>

    <span id="search_progress"></span>
    <div class="table-address-search-d">
      表示順序：
      <%= select_tag('conditions[sort_select_1]', options_for_select(
          { t('activerecord.attributes.address_book.organization') => 'organization',
            t('activerecord.attributes.address_book.name') => 'name',
            t('activerecord.attributes.address_book.email') => 'email' }, 'email')) %>

      <%= select_tag('conditions[sort_select_2]', options_for_select(
          { t('views.sort.asc') => 'asc',
            t('views.sort.desc') => 'desc'},
          'asc')) %>
      <%= hidden_field_tag "recipient_number", params[:recipient_number], :id => :recipient_number %>
      &nbsp;&nbsp;
      組織名を入れる：
      <%= check_box_tag 'conditions[organization_flg]', '1', current_user.to_organization_add, {} %>
    </div>
  <% end %>
</div>

<div id="result">
  <%= render "index_sub_result" %>
</div>
