<h2>決裁申請</h2>
<div class="table-a">
  <div class="item-top">申請日時</div>
  <div class="input-top"><%= Time.parse(@send_matter.created_at.to_s).strftime("%Y/%m/%d %H時%M分%S秒") -%>
</div>
  <div class="item-mid">送信者</div>
  <div class="input-mid"><%=h @send_matter.name -%>(<%=h @send_matter.mail_address -%>)
</div>
  <div class="item-mid">受信者一覧</div>
  <div class="input-mid">
<%- @receivers.each.with_index do | receiver, count | -%>
<%= count + 1 -%>
人目：<%=h receiver.name -%>
（<%=h receiver.mail_address -%>）
<%- end -%>
  </div>
  <div class="item-mid">送信者</div>
  <div class="input-mid">
    <div class="table-d">
      <div class="item-l">ファイル名</div>
      <div class="item-r"></div>
<%- @attachments.each.with_index do |attachment, count| -%>
<div class="input-l"><%= count + 1 -%>
. <%= attachment.name -%>
（<%= show_file_size(attachment) %>）</div>
<%- if(attachment.virus_check != '0') -%>
<div class="input-r">
<%= image_tag("common/alert.jpg", :align => 'left', :hspace => '5',
:size => "21x20",
:title => "ウイルス検出のため削除しました。(#{attachment.virus_check})") -%>
ウイルス検出のため削除しました。<br>(<%=h attachment.virus_check -%>)
</div>
<%- else -%>
<div class="input-r"><%= link_to image_tag('common/download.gif', {:border => '0',
 :alt => 'ダウンロード'}),{:action => 'get', :id => params[:id], :attachment => attachment.id} -%>
</div>
<%- end -%>
<%- end -%>
    </div>
  </div>
  <div class="item-mid">ダウンロード完了通知メール</div>
  <%- if @send_matter.download_check == 1 -%>
    <div class="input-mid">希望する</div>
  <% else %>
    <div class="input-mid">希望しない</div>
  <% end %>
  <div class="item-mid">ファイル保存期限</div>
<% if @send_matter.sent_at.present? %>
  <div class="input-mid"><%=h (Time.parse(@send_matter.sent_at.to_s) +
                      @send_matter.file_life_period).strftime("%Y年%m月%d日%H時%M分%S秒") %></div>
<% elsif @send_matter.moderate_flag == nil %>
  <div class="input-mid"><%=h (Time.parse(@send_matter.created_at.to_s) +
                      @send_matter.file_life_period).strftime("%Y年%m月%d日%H時%M分%S秒") %></div>
<% else %>
  <div class="input-mid">決裁完了後に確定します</div>
<% end %>
  <div class="item-mid">相手へのメッセージ</div>
  <% if @send_matter.message == '' %>
    <div class="input-mid">　</div>
  <% else %>
    <div class="input-mid"><%=h @send_matter.message %></div>
  <% end %>
  <div class="item-mid">決裁種別</div>
  <div class="input-mid">
<% if @send_moderate == nil %>
決裁無し
<% else %>
<% if @send_moderate.type_flag == 0 %>
通常決裁
<% else %>
簡易決裁
<% end %>
<% end %>
  </div>
  <div class="item-mid">決裁ルート</div>
  <div class="input-mid">
<% number = 0 %>
    <div class="table-d" style="border:0px;">
<% for moderater in @send_moderaters %>
      <div class="input-l" style="border:0px; padding:5px 8px; height:20px;">
<% number += 1 %>
<%= number %>.
<%= moderater.moderater.user.name %>
      </div>
<div class="input-r" style="border:0px; padding:5px 8px; height:20px; text-align:center;">
<% if moderater.result == 1 %>
<font color="blue"><b>承認</b></font>
<% elsif moderater.result == 2 %>
<font color="red">差戻</font>
<% else %>
<% if moderater.send_flag == 1 %>
処理中
<% end %>
&nbsp;
<% end %>
      </div>
<% end %>
    </div>
  </div>
  <div class="item-mid">決裁結果</div>
  <div class="input-mid">
<% if @send_moderate.result == 1 %>
<font color="blue"><b>承認</b></font>
<% elsif @send_moderate.result == 2 %>
<font color="red">却下</font>
<% else %>
&nbsp;
<% end %>
  </div>
<% unless @send_moderater.result > 0 %>
  <div class="item-mid"></div>
  <div class="input-mid">
    <div class="table-d" style="border:0px;">
      <div class="input-l" style="border:0px;">
<%= button_to "承　認", {:action => :approval, :id => params[:id]},
 :data => {:confirm => 'この送信内容を承認します。よろしいですか？'}, :method => :get %>
      </div>
<div class="input-r" style="border:0px;">
<%= button_to "却　下", {:action => :new, :id => params[:id]}, :method => :get %>
      </div>
    </div>
  </div>
<% end %>
</div>
<br>
<br>
